/* 首页样式

/* //首页样式 */

/* 右侧菜单 */

/* //右下菜单 */ 

/* 左侧内容展示 分类菜单*/
.cls-menu-ls{
    margin-top: 10px;
    padding:10px
}

.cls-menu-ls a{
    padding:0 15px;
    color:#1a1a1a;
    text-decoration:none;
}

.cls-menu-ls .active,.cls-menu-ls a:hover{
    color:#0084ff
}
/* 左侧内容展示 问题列表*/
.qa-ls{
    background-color:#fff
}

.qa-ls .qa-item{
    margin-top:-1px;
    padding:15px;
    border:1px solid #f0f2f7

}

.qa-ls .qa-item .title{
    padding:10px 0;
    font-size: 18px;
    font-weight:bold;
    text-decoration:none;
}

.qa-ls .qa-item .desc{
    display:flex;
}

.qa-ls .qa-item .desc .left{
    width:200px;
    height:100px;
    overflow:hidden;
    /* 不允许项目放大或者收缩 */
    flex:none;
    margin-right:10px
}

.qa-ls .qa-item .desc .left img{
    width:200px;
    height:auto;
}

.qa-ls .qa-item .desc .right .more{
    color:#175199;
    font-size:13px;
    cursor:pointer;
}

.qa-ls .qa-item .desc .right .more:hover{
    color:#768396;
}

/* 左侧qa问答栏，底部菜单布局 */
.qa-ls .qa-footer{
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    
}
.qa-ls .qa-footer>div{
    margin-right:10px;
    margin-top:5px
   
}
.qa-ls .qa-footer .txt-menu{
    color:#8590a6;
    padding-top:4px
    
}

.qa-ls .qa-footer .txt-menu .glyphicon{
    margin-right:3px;
   
}

.qa-ls .qa-footer .txt-menu .dropdown-menu{
    transform:translateX(-45%);
}

/* 右下角固定导航 */
.layout-footer{
    position:fixed;
    right:15px;
    bottom:15px;
    background-color:#fff;
    display:flex;
    flex-direction:column;

}

.layout-footer i{
    padding:10px;
    display:block;
    color:#8590a6;
    border:1px solid #f0f2f7;
}

@media(max-width:767px){
    .qa-ls .qa-item .desc{
        flex-wrap:wrap;
        overflow:hidden;
    }
    .qa-ls .qa-item .desc .left{
        width:100%;
    }
    .qa-ls .qa-item .desc .left img{
        width:100%;
        
    }
}

